@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    #more {
        margin-left: calc(50% - 50vw);
        @apply relative w-screen;
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    [class*="hover:"] {
        transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
    }
    
    p {
        @apply mb-4;
    }
    
    ul {
        @apply pl-4 ml-4 list-disc;
    }
    
    ol {
        @apply pl-4 ml-4 list-decimal;
    }
    
    li {
        @apply leading-loose;
    }
    
    code {
        @apply bg-dark-400 p-1 rounded-sm;
    }
    
    .svg-icon {
    width: 1em;
    height: 1em;
    }
    
    .svg-icon path,
    .svg-icon polygon,
    .svg-icon rect {
    fill: currentColor;
    }
    
    .svg-icon circle {
    stroke: currentColor;
    stroke-width: 1;
    }
    
    .mailchimp-email {
        background: #eee;
        @apply border-0;
    }
}